.cart {
  display: flex;
}

.cart__left {
  width: 70%;

  padding: 20px;
}

.cart__right {
  width: 30%;

  padding: 20px;
}

.bold__text {
  font-size: 23px;
  font-weight: 900;
}

@media screen and (max-width: 1200px) {
  .cart {
    flex-flow: column;
  }

  .cart__left {
    width: 100%;
  }

  .cart__right {
    width: 100%;
  }
}
