@import "~antd/dist/antd.css";

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa500;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff8c00;
}
* {
  font-family: "Roboto", sans-serif;
}

.header {
  background: #d8e3e8;
  height: 46px;
  line-height: 45px;
}

.top-menu-items {
  font-size: 12px;
  margin-left: 4px;
  font-weight: 600;
}

.menu-item-icon {
  color: #ff7f18;
}

.logo {
  width: 120px;
  height: 31px;
  background: silver;
  margin: 16px 24px 16px 0;
  float: left;
}

.admin-sider {
  min-width: 255px !important;
  max-width: 255px;
  width: 255px;
  height: 100vh;
}

.fruit h4,
.Electronic h4,
.Grocery h4,
.Cloth h4,
.Gadgets h4 {
  margin-top: 15%;
}
.login-form-btn {
  background: rgb(69, 171, 103);
  border-color: rgb(49, 181, 171);
  width: 85%;
  font-size: 110%;
  height: 53px;
  font-size: 16px;
  border-radius: 10px;
}
.menu {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: #666;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  padding: 9px 0;
  line-height: 22px;
  position: relative;
}
.deals {
  text-align: center;
}
.addcart {
  margin-top: 3%;
  background: #45ab67;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background: transparent;
  cursor: pointer;
  background: #222;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
}
.addcart:hover {
  background: #398e55;
  color: #fff;
}

.top__right__logout {
  width: 48%;
}

.top__bar__info {
  width: 48%;
}

.top__right__logout__btn {
  float: right;
}

/** new css starts*/

.menu-icon-close-open {
  font-size: 35px;
}

.new__navbar__container {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px 0px 0px 0px;
  justify-content: center;
  align-items: center;
}

.logo__container {
  width: 20%;
}
.app__logo {
  width: 100%;
  object-fit: contain;
}

.menu__container {
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.menu__name {
  color: #fff;
  cursor: pointer;
  line-height: 45px;
}

.cart__menu__container {
  width: 20%;
}

.small-menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #17a2b8;
  color: #fff;
  padding: 10px 0px;
}

.app__logo__small {
  height: 100px;
}

/* Underline From Left  starts*/
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/* Underline From Left  ends*/

/* Outline Out */
.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-outline-out:before {
  content: "";
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before,
.hvr-outline-out:focus:before,
.hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

@media screen and (max-width: 900px) {
  .top__bar__info {
    display: none;
  }

  .top__right__logout {
    width: 100%;
    text-align: center;
  }

  .top__right__logout__btn {
    float: none;
  }

  .new__navbar__container {
    flex-flow: column;
  }

  .logo__container {
    display: none;
  }
  .menu__container {
    width: 100%;
    flex-flow: column;
  }

  .menu__item {
    margin-bottom: 20px;
  }

  .cart__menu__container {
    width: 100%;
  }
}
