@import "~antd/dist/antd.css";

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa500;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff8c00;
}

.header {
  background: #d8e3e8;
  height: 46px;
  line-height: 45px;
}

.top-menu-items {
  font-size: 12px;
  margin-left: 4px;
  font-weight: 600;
}

.menu-item-icon {
  color: #ff7f18;
}
